<section id="about" class="about-me-container">
   <div class="about-left">

    <!-- Profilbild -->
  <div class="profile-image">
    <img src="/about/bella.JPG" alt="Isabella Troncoso">
  </div>

   <h2>About Me</h2>
<p>
  I’m a curious and driven Java full-stack developer who loves creating modern, responsive, and user-friendly applications.
  I’m passionate about learning new technologies and continuously finding smarter ways to solve problems.
</p>

<button *ngIf="!showMore" (click)="toggleReadMore()" class="read-toggle">
  Read more <span class="arrow">▼</span>
</button>

<div *ngIf="showMore" @fadeSlide class="more-info">
  <p>
    I believe the best growth happens outside the comfort zone — that’s where I learn the fastest and discover new ways to improve.
    I see every challenge as a chance to expand my skills and become a better developer.
  </p>
  <p>
    My goal is to keep evolving within programming, both technically and creatively, while contributing to projects that make a real difference.
  </p>

  <button (click)="toggleReadMore()" class="read-toggle">
    Read less <span class="arrow up">▲</span>
  </button>
</div>
  </div>

  <div class="about-right">
  <div class="section-with-icon">
    <div class="icon-title">
      <img src="/about/yh.png" alt="Education icon" />
      <div class="text-content">
        <h3>Education</h3>
         <p>Technical Institute Stockholm Vocational University, 2024 - 2026, <strong> Java Developer</strong></p>
        <p>Fredrika Bremer High School, 2015 - 2018, <strong> Graphic Media</strong> </p>
      </div>
    </div>
  </div>

  <div class="section-with-icon">
    <div class="icon-title">
      <img src="/about/java.png" alt="Skills icon" />
      <div class="text-content">
        <h3>Skills</h3>
        <p>Java, Spring Boot, REACT, Angular, HTML, CSS, REST API, TypeScript, JavaScript, Frontend,
        SQL (NoSql), Git, TestDriving, Cloud platforms, Java Enterprice</p>
      </div>
    </div>
  </div>

  <div class="section-with-icon">
    <div class="icon-title">
      <img src="/about/books.png" alt="Hobbies icon" />
      <div class="text-content">
        <h3>Hobbies</h3>
        <p>> Coding side-projects</p>
        <p>> Reading Books (goal: 50 books a year)</p>
        <p>> Play instrument: Electric bass</p>
        <p>> Go to the gym</p>
      </div>
    </div>
  </div>
</div>
</section>


