<section id="projects" class="skills-section">
  <!-- Intro-rad med bild + text + knapp -->
  <div class="skills-intro">
    <img src="/pictures/project.webp" alt="Skill Intro Image" />
    <div class="intro-text">
      <h2>School Projects</h2>
      <a class="btn btn-dark" routerLink="/school-projects">See All Projects</a>
    </div>
  </div>

  <!-- Tre projektkort -->
  <div class="skills-cards">
    <div class="skill-card">
        <img src="/projects/todo.jpg" alt="Todo App" />
      <h3>ToDo App</h3>
      <p>Coming soon</p>
      <!-- lägg till mer info här -->
    </div>
    <div class="skill-card">
        <img src="/projects/travel.jpg" alt="Travel Wishlist App" />
      <h3>Travel Wishlist App</h3>
      <p>Coming soon</p>
      <!-- lägg till mer info här -->
    </div>
    <div class="skill-card">
          <img src="/projects/ideas.jpg" alt="Bored app" />
      <h3>BOred App</h3>
      <p>Coming soon</p>
      <!-- lägg till mer info här -->
    </div>
  </div>
</section>
