<section id="projects" class="skills-section">
  <!-- Intro-rad med bild + text + knapp -->
  <div class="skills-intro">
    <img src="/pictures/project.webp" alt="Skill Intro Image" />
    <div class="intro-text">
      <h2>Featured Projects</h2>
      <a class="btn btn-dark" routerLink="/school-projects">See All Projects</a>
    </div>
  </div>

  <!-- Tre projektkort -->
  <div class="skills-cards">
    <div class="skill-card">
        <img src="assets/event-app.png" alt="Event Planner App" />
      <h3>Event Planner App (Full-stack)</h3>
      <!-- lägg till mer info här -->
    </div>
    <div class="skill-card">
        <img src="assets/travel-app.png" alt="Travel Wishlist App" />
      <h3>"Travel Wishlist" App</h3>
      <!-- lägg till mer info här -->
    </div>
    <div class="skill-card">
          <img src="assets/pet-adoption.png" alt="Pet Adoption App" />
      <h3>Pet Adoption API/Webbapp</h3>
      <!-- lägg till mer info här -->
    </div>
  </div>
</section>
