<section id="contact" class="contact-container">
  <div class="contact-left">
    <h2>Get in Touch</h2>
    <p>Love to hear from you! Feel free to reach out with any questions or opportunities.</p>
  </div>

  <div class="contact-right">
   
    <form
      *ngIf="!thankYouVisible"
      action="https://formspree.io/f/xgvnnldd"
      method="POST"
      target="hiddenFrame"
      (submit)="showThanks()"
      class="contact-form"
    >
      <label for="name">Name</label>
      <input type="text" id="name" name="name" required />

      <label for="email">Email</label>
      <input type="email" id="email" name="email" required />

      <label for="message">Your Message</label>
      <textarea id="message" name="message" rows="5" required></textarea>

    
      <input type="hidden" name="_next" value="http://localhost:4200/">

      <button type="submit" class="btn btn-dark">Send Message</button>
    </form>

    
    <iframe name="hiddenFrame" style="display: none;"></iframe>

  
    <div *ngIf="thankYouVisible" class="thank-you-message">
      <h3>Thank you!</h3>
      <p>Your message has been sent successfully. I’ll get back to you soon.</p>
    </div>
  </div>
</section>
