<section class="school-projects">

    <!-- Back arrow -->
  <div class="back-header">
    <a routerLink="/" class="back-link">← Back to Home</a>
  </div>
    
  <h2>My School Projects</h2>
  <div class="project-cards">
    <div class="project-card" (click)="openRepo('https://github.com/isabellaTroncoso/ProjektUppgift1')">
      <img src="school-projects/dice-cube.png" alt="Dice-game" />
      <h3>Dice game</h3>
    </div>

    <div class="project-card" (click)="openRepo('https://github.com/isabellaTroncoso/ProjektUppgift2/tree/main/src')">
      <img src="school-projects/vs.png" alt="adventure-game" />
      <h3>Adventure-game: Resident vs burglar</h3>
    </div>

    <div class="project-card" (click)="openRepo('https://github.com/isabellaTroncoso/Projektuppgift_3/tree/main/src')">
      <img src="school-projects/sql.png" alt="Databases" />
      <h3>WorkRoleManager</h3>
    </div>

    <div class="project-card" (click)="openRepo('https://github.com/isabellaTroncoso/min-hemsida.git')">
      <img src="school-projects/code.png" alt="website" />
      <h3>Website</h3>
    </div>

    <div class="project-card" (click)="openRepo('https://github.com/isabellaTroncoso/FR_react_project.git')">
      <img src="school-projects/reactP.png" alt="Fr-react" />
      <h3>React-project</h3>
    </div>

    <div class="project-card" (click)="openRepo('https://github.com/tHaraldsson/Grupp_7_eggspert.git')">
      <img src="school-projects/egg-app.png" alt="egg-app" />
      <h3>Project-group: Egg-app</h3>
    </div>

    <div class="project-card" (click)="openRepo('https://github.com/isabellaTroncoso/Par_programmering_1-2.git')">
      <img src="school-projects/blackjack.png" alt="Blackjack" />
      <h3>Blackjack-TDD (JUnit) </h3>
    </div>

    <div class="project-card" (click)="openRepo('https://github.com/isabellaTroncoso/SpringSecurity_project.git')">
      <img src="school-projects/hack.png" alt="Spring-security" />
      <h3>Spring Security-project</h3>
    </div>

  </div>
</section>

