<header class="header-left">
 <div class="logo">
    <a href="https://www.linkedin.com/in/isabella-troncoso-76143b332/" target="_blank" rel="noopener noreferrer">
      <img src="/logo/linklogo.webp" alt="Logo" />
    </a>
  </div>

  <h1>My Portfolio</h1>

  <nav class="header-meny">
    <ul>
      <li><a href="#home">Home</a></li>
      <li><a href="#about">About</a></li>
      <li><a href="#projects">Projects</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  </nav>
</header>

<main>
  <section id="home" class="introduction">
<!-- Videobakgrund -->
  <video autoplay muted loop playsinline class="background-video">
    <source src="/videos/home-background.mp4" type="video/mp4">
    Din webbläsare stödjer inte videon.
  </video>

   <div class="intro-content">
    <h2>Welcome to My Portfolio</h2>
    <p>Showcasing my work as a Java Full-stack Developer</p>
    <div class = "button-group">
    <a class="btn btn-light" href="/cv/IsabellaTroncosoCV.pdf" download>Download my CV</a>
    <a href="https://github.com/isabellaTroncoso/My_Portfolio" target="_blank" rel="noopener" class="github-btn">
  <img src="/logo/Github-Logo2.png" alt="GitHub">
</a>
    </div>
    </div>
  </section>

  <app-projects></app-projects>

  <app-about></app-about>

  
  <app-contact></app-contact>

</main>

<footer class="site-footer">
  <div class="footer-content">
    <p>© 2023 My Portfolio</p> | 
    <p>Isabella Troncoso</p> |
    <p>
      <a href="https://www.linkedin.com/in/isabella-troncoso-76143b332/" target="_blank" rel="noopener">LinkedIn</a> |
      <a href="https://github.com/isabellaTroncoso/My_Portfolio" target="_blank" rel="noopener">Github</a>
    </p>
  </div>
</footer>

        
      
      
